#book1{
    height: 300px;
    width: 300px;
        
}
.movies
{
    font-size: 20px;
    padding:6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width:100%;
    display:inline;
}
.mov i{
    float: right;
}
/*to make the stars orange*/
.movie_text span}
{color: #ff7700
}
.news_li{
    margin:top:13px;
    
}
.news_li h4{
    border-bottom: 1px solid white;
    padding: 8px;
    
}
.news_li img{
    border-radius: 25px;
    
}
.news_li p{
    margin-top:10px;
}
.book{
    cursor: pointer;
}
.book hr{
    margin-bottom: 10px;
}
.modal-content{
    margin-top: 100px
}
.img_modal{
    display:inline-block;
    height:400px;
    width: 300px;
    
}
.para{
    margin-top: 10px;
    
}
.modal-body{
    text-align: center;
}